.chatWindowContainer {
  background-color: beige;
  height: 100%;
  display: flex;
  flex-direction: column;

  .chatIdentityContainer {
    height: 50px;
    background: #FFFFFF;
  }

  .chatWindowWrapper {
    margin-top: auto;

    .chatContainer {
      max-height: 70vh;
      overflow-y: scroll;
      box-sizing: border-box;
      padding: 10px;
      margin-bottom: 5px;
    }
    .chatInputContainer {
      display: flex;
      flex-direction: row;

      .chatInput{
        width: 100%;
        height: 50px;
      }
    }
  }
}