.chatWindowContainer {
  background-color: beige;
  height: 100%;
  display: flex;
  flex-direction: column;

  .chatIdentityContainer {
    height: 50px;
    background: #FFFFFF;
  }

  .chatWindowWrapper {
    margin-top: auto;

    .discussion {
      display: flex;
      max-height: 70vh;
      flex-direction: column;
      overflow-x: auto;

      .msgSegment {
        display: flex;

        .bubble {
          border-radius: 1em;
          padding: 0.25em 0.75em;
          margin: 0.0625em;
          max-width: 50%;
        }
        .recipient {
          margin-right: auto;
          background-color: cornflowerblue;
          color: #fff;
        }
        .recipient-first { border-bottom-left-radius: 0.1em; }
        .recipient-middle {
          border-bottom-left-radius: 0.1em;
          border-top-left-radius: 0.1em;
        }
        .recipient-last { border-top-left-radius: 0.1em; }

        .sender {
          margin-left: auto;
          background-color: #efefef;
        }
        .sender-first { border-bottom-right-radius: 0.1em; }
        .sender-middle {
          border-bottom-right-radius: 0.1em;
          border-top-right-radius: 0.1em;
        }
        .sender-last { border-top-right-radius: 0.1em; }
      }
    }
  }
  .chatInputContainer {
    display: flex;
    flex-direction: row;

    .chatInput{
      width: 100%;
      height: 50px;
    }
  }

}