.container {
    display: flex;
    justify-content: center;
    align-items: center;
    .main-box-laptop{
      height: 100%;
      padding: 50px auto;
      min-height: 500px;
    }
    .main-box-mobile{
      height: 100%;
    }
    .main-box{
      border-right: 1px solid #f1f1f1;
      display: flex;

      .content-wrapper{
        height: 100%;
        display: flex;
        width: 80%;
        flex-direction: column;
  
        .content-top {
          height: 80px;
          border-bottom: 1px solid #f1f1f1;
          width: 100%;
          display: flex;
          align-items: center;
  
          .user-avatar{
            border: 1px solid silver;
            border-radius: 5px;
            width: 40px;
            height: 40px;
            margin-left: 15px;
            margin-right: 10px;
          }
          .user-name{
            display: flex;
            flex-direction: column;
  
            .user-name-f {
              font-size: 16px;
              font-weight: bold;
              margin: 2px 0;
            }
  
            .user-name-l {
              font-size: 12px;
            }
          }
        }
        .main-content {width: 100%; height:100%;}
  
        .content-bot {
          height: 100px;
          border-top: 1px solid #f1f1f1;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 10px;
  
          .content-wrapper{
            width: 100%;
            position: relative;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
  
            .options-left {
              position: absolute;
              height: 48px;
              width: 100px;
              left: 0;
              z-index: 10;
              display: flex;
              align-items: center;
              flex-direction: row-reverse;
            }
  
            .options-right {
              position: absolute;
              height: 48px;
              width: 100px;
              right: 0;
              z-index: 10;
              display: flex;
              align-items: center;
            }
  
            .textarea {
              position: absolute;
              margin-top: 2px;
              resize: none;
              overflow: hidden;
              padding: 7px 100px;
              border:none;
              outline: none;
            }
  
            .option-btn {
              width: 40px;
              height: 40px;
              margin: 0 3px;
              display: flex;
              justify-content: center;
              align-items: center;
              cursor: pointer;
            }
          }
        }
      }
    }
   }