.container {
  display: flex;
  justify-content: center;
  align-items: center;
  .main-box-laptop{
    width: 80%;
    height: 100%;
    padding: 50px auto;
    min-height: 500px;
  }
  .main-box-mobile{
    width: 100%;
    height: 100%;
  }
  .main-box{
    border-right: 1px solid #f1f1f1;
    display: flex;


    .sideNav {
      border-right: 1px solid #f1f1f1;
      width: 20%;

      .hide-this {
        display: none;
      }
      .icon-online{
        font-size: 8px;
        color: green;
        margin-top: 3px;
      }
      .icon-offline{
        font-size: 8px;
        color: lightgrey;
        margin-top: 3px;
      }

      .sideNav-section-heading{
        font-size: 16px;
        font-weight: bold;
        margin: 15px 0;
        color: dimgrey;

        .section-icon{
          font-weight: lighter;
          margin-left: 20px;
          cursor: pointer;
          color: lightgrey;

          &:hover {
            color: dimgrey;
          }
        }
      }

      .sideNav-header {
        height: 60px;
        display: flex;

        .logo {
          max-width:70%;
          height: 100%;
          display: flex;
          align-items: center;
          overflow: hidden;
        }
        .sideNav-header-moreBtn {
          width:30%;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
        }
      }

      .sideNav-search {
        margin: 30px 0 20px 0;

        .search-box{
          width: 80%;
          border-style: none;
          background-color: #f1f1f1;
          outline: none;
          height: 40px;
          border-radius: 3px;
          padding: 0 10px;
        }
      }

      .sideNav-section{
        display: flex;
        flex-direction: column;

        .sideNav-sections {
          max-height: 243px;
        }

        .section-element {
          padding: 3px 0;
          white-space: nowrap;
          overflow: hidden;
          margin-left: 15px;
          width: 90%;
          display: flex;
          align-items: center;

          .section-icon{
            margin-right: 10px;
          }
        }
        .more {
          margin: 15px;
          cursor: pointer;
        }
      }
    }

    .content-wrapper{
      height: 100%;
      display: flex;
      width: 80%;
      flex-direction: column;

      .content-top {
        height: 80px;
        border-bottom: 1px solid #f1f1f1;
        width: 100%;
        display: flex;
        align-items: center;

        .user-avatar{
          border: 1px solid silver;
          border-radius: 5px;
          width: 40px;
          height: 40px;
          margin-left:50px;
          margin-right: 10px;
        }
      }
      .main-content {width: 100%; height:100%;}

      .content-bot {
        height: 100px;
        border-top: 1px solid #f1f1f1;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;

        .content-wrapper{
          width: 100%;
          position: relative;
          height: 50px;
          display: flex;
          justify-content: center;
          align-items: center;

          .options-left {
            position: absolute;
            height: 48px;
            width: 100px;
            left: 0;
            z-index: 10;
            display: flex;
            align-items: center;
            flex-direction: row-reverse;
          }

          .options-right {
            position: absolute;
            height: 48px;
            width: 100px;
            right: 0;
            z-index: 10;
            display: flex;
            align-items: center;
          }

          .textarea {
            position: absolute;
            width: 70%;
            margin-top: 2px;
            resize: none;
            overflow: hidden;
            padding: 7px 100px;
            border:none;
            outline: none;
          }

          .option-btn {
            width: 40px;
            height: 40px;
            margin: 0 3px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
          }
        }
      }
    }
  }
 }