#homeContainer {
  background-color: antiquewhite;
  height: 100vh;

  .viewport {
    margin: 0 auto;
    height: 80vh;

    .appContentWrapper {
      height: 85vh;

      .appContent {
        background-color: azure;
      }
    }
  }
}